<div class="container py-3">
  <h2>Numéro partie : <%= @game.id %></h2>

  <% if current_user.id != @game.user_id %>
    <p>player</p>

    <%= simple_form_for [ @game, @buzz ], remote: true do |f| %>
      <%= f.input :buzzed, as: :hidden %>
    <% end %>
    
    <% if @buzzed %>
      <p>buzzed</p>
    <% else %>
    <div class="buttons">
      <div id="buzzer"><p>buzz</p></div>
    </div>
    <% end %>
    

  <% elsif current_user.id == @game.user_id %>
    <p>host</p>
    <div class="buttons">
      <%= link_to "Supprimer partie",
                  game_path(@game),
                  class: "btn btn-danger my-3",
                  method: :delete,
                  data: { confirm: "Êtes-vous sûr ?" } %>
      <%= link_to "Reset buzzers", 
                  clearbuzzs_path(@buzzs, game_id: @game.id),
                  class: "btn btn-info my-3" %>
    </div>
      <h4 class="text-center">Liste des buzzs</h4>
    <ol id="buzzs" class="center" data-game-id="<%= @game.id %>">
      <% @game.buzzs.each do |buzz| %>
        <li class="buzz-container" id="buzz-<%= buzz.id %>">
          <i class="author">
            <span><%= buzz.user.nickname %></span>
            <small><%= buzz.created_at.strftime("%k:%M:%S") %></small>
          </i>
        </li>
      <% end %>
      </ol>
      <button style="display: none" id="buzzer">buzz</button>
    </div>
  <% end %>
</div>


    


