<h1><%= @game.id %></h1>
<div id="buzzs" data-game-id="<%= @game.id %>">
  <% @game.buzzs.each do |buzz| %>
    <div class="buzz-container" id="buzz-<%= buzz.id %>">
      <i class="author">
        <span><%= buzz.user.nickname %></span>
        <small><%= buzz.created_at.strftime("%k:%M:%S") %></small>
      </i>
    </div>
  <% end %>
</div>

  <%= simple_form_for [ @game, @buzz ], remote: true do |f| %>
    <%= f.input :buzzed %>
  <% end %>
<button id="buzzer">buzz</button>